In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Setup plotting
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
# Set Matplotlib defaults
plt.rc('figure', autolayout=True)
plt.rc('axes', labelweight='bold', labelsize='large',
       titleweight='bold', titlesize=18, titlepad=10)
plt.rc('animation', html='html5')

/kaggle/input/sri-lanka-weather-dataset/SriLanka_Weather_Dataset.csv

/tmp/ipykernel_32/1096943364.py:18: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-whitegrid')

In [32]:
#Extracting the medical insurance data
weather = pd.read_csv('../input/sri-lanka-weather-dataset/SriLanka_Weather_Dataset.csv')
weather.head(5)
cities = pd.DataFrame({'Cities' : weather.city.unique()})
cities

                       Cities
0                     Colombo
1               Mount Lavinia
2                     Kesbewa
3                    Moratuwa
4                  Maharagama
5                   Ratnapura
6                       Kandy
7                     Negombo
8   Sri Jayewardenepura Kotte
9                    Kalmunai
10                Trincomalee
11                      Galle
12                     Jaffna
13               Athurugiriya
14                   Weligama
15                     Matara
16                  Kolonnawa
17                    Gampaha
18                   Puttalam
19                    Badulla
20                   Kalutara
21                    Bentota
22                     Matale
23                     Mannar
24                  Pothuhera
25                 Kurunegala
26                     Mabole
27                     Hatton
28                 Hambantota
29                    Oruwala

# Visualizing Data for Kandy

In [39]:
cities = weather.city.unique()
#collecting data for kandy
weather_sl_kandy = weather[weather['city'] == 'Kandy']
# weather_sl_kandy.head()
#dropping unwanted, redundant columns
weather_kandy = weather_sl_kandy.drop(columns = ['country', 'temperature_2m_mean', 'apparent_temperature_mean','snowfall_sum', 'longitude', 'latitude', 'elevation'])
weather_kandy.head()

,time,weathercode,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,sunrise,sunset,shortwave_radiation_sum,precipitation_sum,rain_sum,precipitation_hours,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,et0_fao_evapotranspiration,city
29496,2010-01-01,2,25.3,18.7,27.2,20.3,2010-01-01T00:49,2010-01-01T12:32,18.09,0.0,0.0,0.0,15.3,38.9,57,3.43,Kandy
29497,2010-01-02,2,25.6,19.4,28.4,21.6,2010-01-02T00:50,2010-01-02T12:32,15.47,0.0,0.0,0.0,13.3,33.1,46,2.95,Kandy
29498,2010-01-03,51,25.0,19.5,28.2,22.1,2010-01-03T00:50,2010-01-03T12:33,14.99,0.1,0.1,1.0,10.7,28.1,40,2.84,Kandy
29499,2010-01-04,51,25.3,19.0,27.7,21.3,2010-01-04T00:50,2010-01-04T12:33,16.55,0.6,0.6,2.0,10.4,29.2,23,3.16,Kandy
29500,2010-01-05,1,25.0,16.3,28.0,17.5,2010-01-05T00:51,2010-01-05T12:34,22.68,0.0,0.0,0.0,9.7,27.0,28,4.18,Kandy